# Ambiente virtual
.venv/

# Cache Python
__pycache__/
*.py[cod]

# Arquivos de ambiente (variáveis secretas)
.env

uploads

uploads/Visao-Computacional/modelo_yolo_teste/best.pt
Visao-Computacional/modelo_yolo_teste/best.pt
*pt